#home{
    display: flex;
    min-height: calc(100vh - 91px);
}
#banner{
    transform: translateX(115%);
}

#cta{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}
.text_phone{
    font-size: 120%;
}
#cta .title{
font-size: 4rem;
color: black;
font-family: "Montserrat", sans-serif;
}
#cta .title span{
    color: #136F63;
}

#cta .description{
    font-size: 1.2rem;
    opacity: 70%;

}
#cta_buttons{
    display: flex;
    gap: 24px;
    color: #136F63; 
}

#cta_buttons a{
    text-decoration: none;
    color: #1d1d1d;
}
#phone_button{
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    /* Rectangle 29 */
button{


position: flex;
width: 48px;
height: 49.09px;
left: 326px;
top: 479px;

background: #136F63;
border-radius: 24px;
border: none;
transform: translateX(-30%);



/* Rectangle 28 */
position: flex;
width: 48px;
height: 49.09px;
left: 326px;
top: 479px;

background: #136F63;
border-radius: 24px;

position: flex;
width: 28px;
height: 28px;
left: 336px;
top: 489px;


}
position: flex;
width: 228px;
height: 37px;
left: 345px;
top: 485px;

background: linear-gradient(90deg, #92DCE5 10.09%, rgba(146, 220, 229, 0) 89.47%);
border-radius: 10px;
transform: translateY(43%);
}

.social-media-buttons a{
   gap: 100px;
    align-items: center;
    width: 45px;
    height: 40px;
    background: none;
    border: none;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 14px;
    font-size: 300%;
    transform: translateY(40%);
}
.social-media-buttons i{ color:#136F63;}

@media screen and (max-width: 1170px) {
    #home{
        min-width: 100%;
        padding-top: 0px;
    }
.social-media-buttons a{
    padding: 10px 14px;
    font-size: 200%;
}
#banner,
#banner .img{
    display: none;
}
.text_phone{
    font-size: 85%;  
}
    #cta{
        width: 100%;
        text-align: center;
        align-items: center;
    }
}