@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
*{ 
    font-family: 'Poppins', sans-serif;
 margin:0;
 padding: 0;
 box-sizing: border-box;
 
  }

  section{
    padding: 28px 8%;
  }

  .btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

width: 48px;
height: 49.09px;
left: 326px;
top: 479px;

background: #136F63;
border-radius: 24px;

}

.section-title{
  color: #136F63;
  font-size: 1.563rem;

}
.section-title{
  font-size: 2.1875rem;
}
.section-title{
  letter-spacing: 8px;
font-weight: 500;
}
.section-subtitle{
  letter-spacing: 4px;
font-weight: 500;   
font-size: 30px;
}
.section-subtitle span{
  /* looks */

position: flex;
width: 101px;
height: 33px;
left: 858px;
top: 1082px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 102.31%;
/* identical to box height, or 33px */
text-align: center;
letter-spacing: 0.11em;

background: linear-gradient(85.19deg, #92DCE5 -2.23%, #517A7F 96.12%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;


text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
