header{
    width: 100%;
    padding: 28px 8%;

}
#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#nav_logo{
    font-size: 40px;
    color: #041B15;
}
#nav_logo_text{
  font-weight: 300;
    color: #041B15;
}


#nav_lista {
    display: flex;
    list-style: none;
    gap: 100px;
transform: translateX(-20%);


}

.nav-item a{
    padding: 25px;
    text-decoration: none;
    color: #000000;
    font-weight: 200;
    font-size: 35px;
}

.nav-item.active a {
font-weight: 400;
    border-bottom: 3px solid #136F63;
 
}